.scrollerContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
  mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
}

.scroller {
  width: 100%;
  padding: 1.5rem 0;
}

.scrollerInner {
  display: flex;
  flex-wrap: nowrap;
  gap: 2rem;
  width: max-content;
  will-change: transform;
  // update去除动画以提高性能
  animation: scroll-x 180s linear infinite;
}

@keyframes scroll-x {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
