/* 弥散渐变背景样式 */

.bg-gradient-mesh-top{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(to bottom, #FFFFFF 0%, rgba(235,235,235,0.7) 50%);
  opacity: 0.9;
  filter: blur(55px);
  z-index: -1;
}

.bg-gradient-mesh {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -3;
  /* background: linear-gradient(
    -135deg,
    rgba(239, 88, 88, 0.3) 0%,
    rgba(64, 85, 244, 0.3) 35%,
    rgba(109, 201, 244, 0.3) 63%,
    rgba(249, 240, 68, 0.3) 100%
  ); */
  animation: gradient-hue-shift 60s ease-in-out infinite alternate;

}

/* 使用动画来模拟色相变化 */
@keyframes gradient-hue-shift {
  0% {
    background: linear-gradient(
      -135deg,
      rgba(239, 88, 88, 0.3) 0%,  /* RGB(239, 88, 88) -> HSL(0, 75%, 61%) */
      rgba(64, 85, 244, 0.3) 35%,  /* RGB(64, 85, 244) -> HSL(220, 83%, 60%) */
      rgba(109, 201, 244, 0.3) 63%, /* RGB(109, 201, 244) -> HSL(204, 84%, 64%) */
      rgba(249, 240, 68, 0.3) 100%  /* RGB(249, 240, 68) -> HSL(55, 92%, 63%) */
    );
  }
  5% {
    background: linear-gradient(
      -135deg,
      rgba(243, 105, 88, 0.3) 0%,  /* HSL(18, 75%, 61%) */
      rgba(84, 109, 244, 0.3) 35%,  /* HSL(238, 83%, 60%) */
      rgba(118, 204, 244, 0.3) 63%, /* HSL(222, 84%, 64%) */
      rgba(249, 230, 68, 0.3) 100%  /* HSL(73, 92%, 63%) */
    );
  }
  10% {
    background: linear-gradient(
      -135deg,
      rgba(247, 122, 88, 0.3) 0%,  /* HSL(36, 75%, 61%) */
      rgba(103, 133, 244, 0.3) 35%,  /* HSL(256, 83%, 60%) */
      rgba(128, 207, 244, 0.3) 63%, /* HSL(240, 84%, 64%) */
      rgba(249, 220, 68, 0.3) 100%  /* HSL(91, 92%, 63%) */
    );
  }
  15% {
    background: linear-gradient(
      -135deg,
      rgba(251, 140, 88, 0.3) 0%,  /* HSL(54, 75%, 61%) */
      rgba(122, 157, 244, 0.3) 35%,  /* HSL(274, 83%, 60%) */
      rgba(138, 210, 244, 0.3) 63%, /* HSL(258, 84%, 64%) */
      rgba(249, 210, 68, 0.3) 100%  /* HSL(109, 92%, 63%) */
    );
  }
  20% {
    background: linear-gradient(
      -135deg,
      rgba(255, 158, 88, 0.3) 0%,  /* HSL(72, 75%, 61%) */
      rgba(142, 182, 244, 0.3) 35%,  /* HSL(290, 83%, 60%) */
      rgba(148, 214, 244, 0.3) 63%, /* HSL(272, 84%, 64%) */
      rgba(249, 200, 68, 0.3) 100%  /* HSL(133, 92%, 63%) */
    );
  }
  25% {
    background: linear-gradient(
      -135deg,
      rgba(255, 174, 88, 0.3) 0%,  /* HSL(90, 75%, 61%) */
      rgba(162, 207, 244, 0.3) 35%,  /* HSL(306, 83%, 60%) */
      rgba(158, 217, 244, 0.3) 63%, /* HSL(284, 84%, 64%) */
      rgba(249, 190, 68, 0.3) 100%  /* HSL(155, 92%, 63%) */
    );
  }
  30% {
    background: linear-gradient(
      -135deg,
      rgba(255, 192, 88, 0.3) 0%,  /* HSL(108, 75%, 61%) */
      rgba(182, 232, 244, 0.3) 35%,  /* HSL(318, 83%, 60%) */
      rgba(168, 221, 244, 0.3) 63%, /* HSL(296, 84%, 64%) */
      rgba(249, 180, 68, 0.3) 100%  /* HSL(177, 92%, 63%) */
    );
  }
  35% {
    background: linear-gradient(
      -135deg,
      rgba(255, 210, 88, 0.3) 0%,  /* HSL(126, 75%, 61%) */
      rgba(202, 257, 244, 0.3) 35%,  /* HSL(330, 83%, 60%) */
      rgba(178, 225, 244, 0.3) 63%, /* HSL(308, 84%, 64%) */
      rgba(249, 170, 68, 0.3) 100%  /* HSL(199, 92%, 63%) */
    );
  }
  40% {
    background: linear-gradient(
      -135deg,
      rgba(255, 227, 88, 0.3) 0%,  /* HSL(144, 75%, 61%) */
      rgba(222, 282, 244, 0.3) 35%,  /* HSL(342, 83%, 60%) */
      rgba(188, 229, 244, 0.3) 63%, /* HSL(322, 84%, 64%) */
      rgba(249, 160, 68, 0.3) 100%  /* HSL(221, 92%, 63%) */
    );
  }
  45% {
    background: linear-gradient(
      -135deg,
      rgba(255, 245, 88, 0.3) 0%,  /* HSL(162, 75%, 61%) */
      rgba(242, 307, 244, 0.3) 35%,  /* HSL(354, 83%, 60%) */
      rgba(198, 233, 244, 0.3) 63%, /* HSL(334, 84%, 64%) */
      rgba(249, 150, 68, 0.3) 100%  /* HSL(243, 92%, 63%) */
    );
  }
  50% {
    background: linear-gradient(
      -135deg,
      rgba(239, 88, 88, 0.3) 0%,  /* 初始颜色 */
      rgba(64, 85, 244, 0.3) 35%,  /* 初始颜色 */
      rgba(109, 201, 244, 0.3) 63%, /* 初始颜色 */
      rgba(249, 240, 68, 0.3) 100%  /* 初始颜色 */
    );
  }
  100% {
    background: linear-gradient(
      -135deg,
      rgba(239, 88, 88, 0.3) 0%,  /* 初始颜色 */
      rgba(64, 85, 244, 0.3) 35%,  /* 初始颜色 */
      rgba(109, 201, 244, 0.3) 63%, /* 初始颜色 */
      rgba(249, 240, 68, 0.3) 100%  /* 初始颜色 */
    );
  }
}



.bg-gradient-mesh::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 97.5%;
  height: 95%;
  transform: translate(-50%, -50%);
  background: linear-gradient(to bottom, #FFFFFF 0%, rgba(235, 235, 235, 0.7) 77%);
  filter: blur(24px) ;
  pointer-events: none;
  z-index: -2;
}

/* 色相改变动画 */
@keyframes hue-rotate-animation {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

/* .hue-rotate-animation-slow {
  animation: hue-rotate-animation 180s linear infinite;
} */
.hue-rotate-animation-fast {
  animation: hue-rotate-animation 1s linear 2;
}

.gradient-orb {
  position: absolute;
  filter: blur(20px);
  will-change: transform, background;
}

.gradient-orb-1 {
  width: 450px;
  height: 450px;
  background: url('../../assets/images/shape1.svg') no-repeat center center;
  background-size: contain;
  z-index: -2;
  opacity: 0.55;
  animation: float-chaotic-1 180s ease-in-out infinite; 
}
.gradient-orb-2 {
  
  width: 550px;
  height: 550px;
  background: url('../../assets/images/shape2.svg') no-repeat center center;
  background-size: contain;
  animation: float-chaotic-2 180s ease-in-out infinite;
  opacity: 0.55;
  z-index: -2;
}

:root {
  --shape1-width: 450px;
  --shape1-height: 450px; 
  --shape2-width: 550px;
  --shape2-height: 550px;
}
/* 无规则移动动画 */
@keyframes float-chaotic-1 {
  0% {
    /* 左上角，元素左侧和上侧各有一半在屏幕外 */
    transform: translate(calc(var(--shape1-width) * -0.5), calc(var(--shape1-height) * -0.5));
  }
  25% {
    /* 左下角，元素左侧一半在屏幕外，底部一半在屏幕外（即元素顶部在屏幕底部中心） */
    transform: translate(calc(var(--shape1-width) * -0.5), calc(100vh - (var(--shape1-height) * 0.5)));
  }
  50% {
    /* 右下角，元素右侧一半在屏幕外，底部一半在屏幕外 */
    transform: translate(calc(100vw - (var(--shape1-width) * 0.5)), calc(100vh - (var(--shape1-height) * 0.5)));
  }
  75% {
    /* 右上角，元素右侧一半在屏幕外，顶部一半在屏幕外 */
    transform: translate(calc(100vw - (var(--shape1-width) * 0.5)), calc(var(--shape1-height) * -0.5));
  }
  100% {
    /* 回到左上角 */
    transform: translate(calc(var(--shape1-width) * -0.5), calc(var(--shape1-height) * -0.5));
  }
}

@keyframes float-chaotic-2 {
  0% {
    /* 起点：左下角。元素左侧一半在屏幕外，底部一半在屏幕外。 */
    transform: translate(calc(var(--shape2-width) * -0.5), calc(100vh - (var(--shape2-height) * 0.5)));
  }
  25% {
    /* 路径点1：右下角。元素右侧一半在屏幕外，底部一半在屏幕外。 */
    transform: translate(calc(100vw - (var(--shape2-width) * 0.5)), calc(100vh - (var(--shape2-height) * 0.5)));
  }
  50% {
    /* 路径点2：右上角。元素右侧一半在屏幕外，顶部一半在屏幕外。 */
    transform: translate(calc(100vw - (var(--shape2-width) * 0.5)), calc(var(--shape2-height) * -0.5));
  }
  75% {
    /* 路径点3：左上角。元素左侧一半在屏幕外，顶部一半在屏幕外。 */
    transform: translate(calc(var(--shape2-width) * -0.5), calc(var(--shape2-height) * -0.5));
  }
  100% {
    /* 终点：回到左下角，与起点相同。 */
    transform: translate(calc(var(--shape2-width) * -0.5), calc(100vh - (var(--shape2-height) * 0.5)));
  }
}
