.streamer-border {
    width: 100%;
    position: relative;
}

.streamer-border::before {
    content: "";
    position: absolute;
    border-radius: 30px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 5px solid transparent;
    background: linear-gradient(
        90deg,
        rgba(77, 239, 251, 1) 0%,        
        rgba(240, 100, 100, 1) 26%,      
        rgba(185, 248, 146, 0.4) 61%,    
        rgba(152, 164, 253, 0) 93%,
        rgba(77, 239, 251, 1) 100%     
      ) border-box;
    background-size: 200% 100%;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    transition: all 0.5s;
    animation: clippath 3s infinite linear, rainbow 3s infinite linear;
     /* ✨ 模糊发光效果 */
     filter: blur(8px);
     opacity: 0.8;
}

@keyframes clippath {
    0%, 100% {
        clip-path: inset(0 0 95% 0);
    }
    25% {
        clip-path: inset(0 95% 0 0);
    }
    50% {
        clip-path: inset(95% 0 0 0);
    }
    75% {
        clip-path: inset(0 0 0 95%);
    }
}

@keyframes rainbow {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 200% 50%;
    }
}
